.nav-avatar{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float: right;
}

.lan{
  height: 30px;
  width: 30px;
  float: right;
}

.avatar{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

#preavatar2{
  display: inline;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 92%;
    margin-top: 52px;
  }

  body{
    background-image: url(../pics/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;
  }

  label{
    color: white;
  }

  .fileinput label{
    color:black;
  }

  .fileinput p{
    color:black;
  }

  .fileinput{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

a:hover{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}

a{
  color: black;
}

div.categories{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90vh;
}

.categories h1, h2{
  color: white;
}

i.sub{
  font-size: 2.5em;
  color: rgb(18, 210, 26);
  display: inline-block;
}

div.sub{
  background-color: rgba(114, 115, 117, 0.48);
}

div.sub div{
  display: inline-block;
}

p.sub{
  color: white;
}

h3{
  color:white;
}

.caption h3{
  color: black;
}

h1{
  color: white;
}

div.sign{
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
}

img.categories{
  width: 300px;
  height: 200px;
}

h4, h5{
  color: black;
}

p.author{
  color: black;
}

.navbar{
  margin: 0;
}
