.menu{
  background-color: rgba(0, 0, 0, 0.6);
  height: 89vh;
  border-style: solid;
  border-radius: 10px;
  border-color: #5e5e5e;
  overflow-y: auto;
  padding: 10px;
  margin-top: 10px;
}

.nav-pills a{
  color: black;
  background-color: rgba(255, 0, 0, 0.82);
}

.menu a{
  color: white;
}

.menu ul{
  padding: 1.5em;
}
.menu table a{
  color: black;
}

.menu .font{
  color: black;
}

h1, h2, h3{
  color: white;
}
